GEMINI_API_KEY="AQ.Ab8RN6LMOY4WX0yZZuLbFfD2wOBoeKPrHOxv0xXcuGrlWUuNnw"
SUPABASE_URL="https://lokotocylfefcnbixoyj.supabase.co"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_fSazvHEfJGUTrw6uVOa8JA_UpG1ORAb"